
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.btn {
  width: 200px;
  height: 200px;
  border: none;
  cursor: pointer;
  justify-self: center;
  align-self: center;
  transition: all .5s;
  font-size: 20px;
}
.btn-selected {
  border: 10px solid red;
}
.btn-shape__circle{
  border-radius: 50%;
}
.btn-color__blue{
  background: blue;
  grid-column-start: 1;
  grid-row-start: 2;
}
.btn-color__yellow{
  background: yellow;
  grid-column-start: 2;
  grid-row-start: 3;
}
.btn-color__green{
  background: green;
  grid-column-start: 2;
  grid-row-start: 1;
}
.btn-reset{
  background: #ccc;
  grid-column-start: 3;
  grid-row-start: 2;
  height: 60px;
  border-radius: 10px;
} 
.btn:hover{
  opacity: .8;
}
